In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

1. –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –¥–∞–Ω–Ω—ã—Ö

In [2]:
titanic_data = pd.read_csv("train.csv")
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
titanic_data.drop('Cabin', axis=1,inplace=True)

–°—Ç–æ–ª–±–µ—Ü Cabin —Å–æ–¥–µ—Ä–∂–∏—Ç –Ω–æ–º–µ—Ä–∞ –∫–∞—é—Ç, –Ω–æ –≤ –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–µ —Å–ª—É—á–∞–µ–≤ —Ç–∞–º –ø—Ä–æ–ø—É—â–µ–Ω—ã –∑–Ω–∞—á–µ–Ω–∏—è (—Å–ª–∏—à–∫–æ–º –º–Ω–æ–≥–æ NaN). –ü–æ—ç—Ç–æ–º—É –≤–º–µ—Å—Ç–æ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –º—ã –ø–æ–ª–Ω–æ—Å—Ç—å—é —É–¥–∞–ª—è–µ–º —ç—Ç–æ—Ç —Å—Ç–æ–ª–±–µ—Ü, —Ç–∞–∫ –∫–∞–∫ –æ–Ω –º–∞–ª–æ –ø–æ–ª–µ–∑–µ–Ω –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞.

In [5]:
# –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ "Age" –º–µ–¥–∏–∞–Ω–Ω—ã–º –≤–æ–∑—Ä–∞—Å—Ç–æ–º –ø–æ –∫–ª–∞—Å—Å—É
median_age_by_class = titanic_data.groupby("Pclass")["Age"].median()

for pclass in range(1, 4):
    titanic_data.loc[(titanic_data["Age"].isnull()) & (titanic_data["Pclass"] == pclass), "Age"] = median_age_by_class[pclass]

–°—Ç–æ–ª–±–µ—Ü Age —Å–æ–¥–µ—Ä–∂–∏—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (NaN). –ß—Ç–æ–±—ã –∏—Ö –∑–∞–ø–æ–ª–Ω–∏—Ç—å, –º—ã –≤—ã—á–∏—Å–ª—è–µ–º –º–µ–¥–∏–∞–Ω–Ω—ã–π –≤–æ–∑—Ä–∞—Å—Ç (median()) –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∫–ª–∞—Å—Å–∞ (Pclass):

1 –∫–ª–∞—Å—Å (–ø–∞—Å—Å–∞–∂–∏—Ä—ã –ø–ª–∞—Ç–∏–ª–∏ –±–æ–ª—å—à–µ ‚Äì –æ–±—ã—á–Ω–æ —Å—Ç–∞—Ä—à–µ)
2 –∫–ª–∞—Å—Å (—Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç)
3 –∫–ª–∞—Å—Å (—Å–∞–º—ã–µ –¥–µ—à—ë–≤—ã–µ –±–∏–ª–µ—Ç—ã ‚Äì —á–∞—â–µ –º–æ–ª–æ–¥—ë–∂—å)
–ó–∞—Ç–µ–º –º—ã –∑–∞–º–µ–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –≤ "Age", –∏—Å–ø–æ–ª—å–∑—É—è –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–ª—è —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–µ–≥–æ –∫–ª–∞—Å—Å–∞ –ø–∞—Å—Å–∞–∂–∏—Ä–∞

In [6]:
# –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ "Embarked" –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º
most_frequent_embarked = titanic_data["Embarked"].mode()[0]
titanic_data.loc[titanic_data["Embarked"].isnull(), "Embarked"] = most_frequent_embarked

In [7]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

2. –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤;

–°—Ç–æ–ª–±–µ—Ü Embarked —Å–æ–¥–µ—Ä–∂–∏—Ç —Ç–µ–∫—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ (–∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è), —Ç–∞–∫–∏–µ –∫–∞–∫ "S", "C", "Q".
–ß—Ç–æ–±—ã –∏—Ö –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –≤ —á–∏—Å–ª–æ–≤–æ–π —Ñ–æ—Ä–º–∞—Ç, –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º One-Hot Encoding (pd.get_dummies()), –∫–æ—Ç–æ—Ä—ã–π —Å–æ–∑–¥–∞—ë—Ç –æ—Ç–¥–µ–ª—å–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è

In [8]:
embarked_dummies = pd.get_dummies(titanic_data['Embarked'], prefix='Embarked')
titanic_data_oh = pd.concat([titanic_data, embarked_dummies], axis=1)
titanic_data_oh.drop('Embarked', axis=1, inplace=True)

In [9]:
titanic_data_oh

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,False,False,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,False,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,24.0,1,2,W./C. 6607,23.4500,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,False,True,False

–ü–æ—Å–ª–µ —ç—Ç–æ–≥–æ —É–¥–∞–ª—è–µ–º –æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω—ã–π —Å—Ç–æ–ª–±–µ—Ü Embarked, —Ç–∞–∫ –∫–∞–∫ –µ–≥–æ —É–∂–µ –∑–∞–º–µ–Ω–∏–ª–∏.

2. Label Encoding –¥–ª—è "Sex"

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
titanic_data_oh['Sex'] = le.fit_transform(titanic_data_oh['Sex'])

–ü–æ–ª (Sex) –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω —Å—Ç—Ä–æ–∫–∞–º–∏ "male" –∏ "female", –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ–ª—å–∑—è –ø–µ—Ä–µ–¥–∞—Ç—å –≤ –º–æ–¥–µ–ª—å.
Label Encoding –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç –∏—Ö –≤ —á–∏—Å–ª–∞:

"male" ‚Üí 1
"female" ‚Üí 0

In [11]:
titanic_data_oh

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,False,False,True
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,False,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,24.0,1,2,W./C. 6607,23.4500,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,False,True,False

3. –ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö.

üìå 1. –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ MinMaxScaler –¥–ª—è "Age"

In [12]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
titanic_data_oh['Age_scaled'] = scaler.fit_transform(titanic_data_oh[['Age']])

MinMaxScaler –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –æ—Ç 0 –¥–æ 1, –∏—Å–ø–æ–ª—å–∑—É—è —Ñ–æ—Ä–º—É–ª—É

In [13]:
titanic_data_oh

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked_C,Embarked_Q,Embarked_S,Age_scaled
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,False,False,True,0.271174
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,True,False,False,0.472229
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,False,False,True,0.321438
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,False,False,True,0.434531
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,False,False,True,0.434531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,False,False,True,0.334004
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,False,False,True,0.233476
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,24.0,1,2,W./C. 6607,23.4500,False,False,True,0.296306
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,True,False,False,0.321438
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,False,True,False,0.396833

üìå 2. –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ StandardScaler –¥–ª—è "Fare"

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
titanic_data_oh['Fare_scaled'] = scaler.fit_transform(titanic_data_oh[['Fare']])

StandardScaler –≤—ã–ø–æ–ª–Ω—è–µ—Ç Z-–Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—é, –ø—Ä–∏–≤–æ–¥—è –¥–∞–Ω–Ω—ã–µ –∫ –Ω—É–ª–µ–≤–æ–º—É —Å—Ä–µ–¥–Ω–µ–º—É –∏ –µ–¥–∏–Ω–∏—á–Ω–æ–º—É —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–º—É –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏—é.

Z-–Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è (–∏–ª–∏ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∞—Ü–∏—è) ‚Äî —ç—Ç–æ –º–µ—Ç–æ–¥ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, —á—Ç–æ–±—ã:

–°—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (Œº) —Å—Ç–∞–ª–æ 0
–°—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ (œÉ) —Å—Ç–∞–ª–æ 1

In [15]:
titanic_data_oh

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked_C,Embarked_Q,Embarked_S,Age_scaled,Fare_scaled
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,False,False,True,0.271174,-0.502445
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,True,False,False,0.472229,0.786845
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,False,False,True,0.321438,-0.488854
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,False,False,True,0.434531,0.420730
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,False,False,True,0.434531,-0.486337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,False,False,True,0.334004,-0.386671
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,False,False,True,0.233476,-0.044381
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,24.0,1,2,W./C. 6607,23.4500,False,False,True,0.296306,-0.176263
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,True,False,False,0.321438,-0.044381
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,False,True,False,0.396833,-0.492378